# This is Git's per-user configuration file.
[user]
	name = seahal
	email = seahal.com@gmail.com
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[secrets]
    providers = git secrets --aws-provider
    patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    patterns = private_key
    patterns = private_key_id
[init]
    templatedir = ~/git-templates/git-secretes
    defaultBranch = main
[credential]
	helper = "!f() { /main/.vscode-server/bin/e3a5acfb517a443235981655413d566533107e92/node /tmp/vscode-remote-containers-a66c15e9-e400-4bbe-ae84-76ce63445f77.js git-credential-helper $*; }; f"


